################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Microsoft.Bot.Sample.FormBot/v15/Server/sqlite3/db.lock
/.vs
/Microsoft.Bot.Sample.FormBot/Log/Nov-2018
